html,body,#root{
	height: 100%;
}
#rootcontainer{
	padding-bottom: 40px;
}
.login{
	background: #286742;
	height: 100%;
}
.login .logo{
	text-align: center;
	margin: 50px 0;
	color: #99FF69;
	font-weight: bold;
	font-size: 32pt;
}
.notification i{
	font-size: 140%;
}
.notification .count{
	position: relative;
	margin-left: -14px;
	font-size: 10pt;
	background: #CB0000;
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
	box-shadow: #222 0px 1px 2px;
	text-shadow: black 0px 1px 0px;
}
#search{
	width: 500px;
}
.sidebar hr{
	margin: 0;
}
.sidebar .user{
	margin-bottom: 5px;
}
.sidebar .active{
	color: black;
	font-weight: bold;
}
.user{
	font-size: 12pt;
}
.sidebar ul{
	list-style: none;
	padding: 0;
}
.sidebar ul a{
	display: block;
}
.user .thumbnail{
	float: left;
	margin: 0 10px;
}

/* newsfeed */
.nfpost input[type=submit]{
	margin-top: 10px;
}
.newsfeed .post{
	padding: 5px 10px;
	border: #ccc solid 1px;
	margin: 10px 0;
	border-radius: 3px;
	box-shadow: rgba(100, 100, 100, 0.1) 0px 2px 5px;
}
.metadata{
	font-size: 8pt;
	color: #aaa;
}
.newsfeed .message{
	margin-top: 10px;
	padding: 5px 0;
	font-size: 12pt;
}
.comments{
	list-style: none;
	padding: 0;
	margin: 0 -10px;
}
.comments li{
	border-top: #ccc solid 1px;
	padding: 10px;
}
.comments .thumbnail{
	margin: 0 10px;
}
.avatar{
	width: 60px;
}
.commentform{
	background: #eee;
	margin-bottom: -5px;
}

/* groups */
.cover{
	background: #ccc;
	height: 200px;
	margin-top: -20px;
	position: relative;
}
.cover-in{
	position: absolute;
	bottom: 10px;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}
.cover h3{
	font-size: 22pt;
	text-shadow: rgba(100,100,100,0.8) 0px 1px 1px;
	color: white;
	margin: 0;
}
.memberlist .thumbnail{
	margin-bottom: 0;
}
.groupinfo .metadata{
	font-size: 10pt;
}
.groupinfo h4{
	margin-top: 30px;
}
.plusmore{
	padding-top: 8px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	text-shadow: rgba(100,100,100,0.2) 0 0 1px;
}

.groupmanage .members .thumbnail{
	margin-bottom: 0;
}

/* group directory */
.lfg header{
	text-align: center;
	height: 200px;
	background: url(../img/directory.jpg) no-repeat;
	background-size: cover;
	margin-top: -20px;
	margin-bottom: 50px;
}
.lfg header h1{
	margin: 0;
	line-height: 200px;
	color: white;
}
.lfg .categories .btn{
	height: 100px;
	line-height: 90px;
	font-size: 16pt;
	display: block;
}
.lfg section{
	margin-bottom: 50px;
}
.largegroup{
	display: block;
	min-height: 200px;
	border: #ccc solid 1px;
	border-radius: 10px;
	margin: 40px 20px;
	cursor: pointer;
}
.largegroup .image{
	height: 200px;
}
.largegroup .message{
	font-size: 11pt;
}
.largegroup .metadata{
	font-size: 9pt;
}
.groupblock{
	border: #ccc solid 1px;
	border-radius: 10px;
	margin: 10px 0px;
	cursor: pointer;
}
.groupblock .image{
	height: 200px;
}
.groupblock .description{
	padding: 10px;
}
.groupblock .title{
	margin-top: 0;
	margin-bottom: 10px;
}

.notibox{
	position: absolute;
	top: 56px;
	right: 40px;
	border: #aaa solid 1px;
	border-top: none;
	box-shadow: rgba(100,100,100, 0.4) 0px 3px 3px;
	width: 300px;
	height: 400px;
	z-index: 400;
	background: white;
}
.notibox .header{
	background: #BFD74E;
	font-size: 13pt;
	padding: 4px 10px;
	color: #22733D;
	height: 36px;
	line-height: 28px;
}
.notibox .body{
	height: 364px;
	overflow: auto;
}
.notibox .item-outer{
	padding: 6px;
}
.notibox .item{
	margin: 0 10px;
	border-bottom: #aaa solid 1px;
	display: block;
	cursor: pointer;
}