html,body,#root{
	height: 100%;
}
.login{
	background: #286742;
	height: 100%;
}
.login .logo{
	text-align: center;
	margin: 50px 0;
	color: #99FF69;
	font-weight: bold;
	font-size: 32pt;
}
.notification i{
	font-size: 140%;
}
.notification .count{
	position: relative;
	margin-left: -14px;
	font-size: 10pt;
	background: #CB0000;
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
	box-shadow: #222 0px 1px 2px;
	text-shadow: black 0px 1px 0px;
}
#search{
	width: 500px;
}
.sidebar hr{
	margin: 0;
}
.sidebar .user{
	margin-bottom: 5px;
}
.user{
	font-size: 12pt;
}
.sidebar ul{
	list-style: none;
	padding: 0;
}
.sidebar ul a{
	display: block;
}
.user .thumbnail{
	float: left;
	margin: 0 10px;
}

.nfpost input[type=submit]{
	margin-top: 10px;
}
.newsfeed .post{
	padding: 5px 10px;
	border: #ccc solid 1px;
	margin: 10px 0;
	border-radius: 3px;
	box-shadow: rgba(100, 100, 100, 0.1) 0px 2px 5px;
}
.newsfeed .metadata{
	font-size: 8pt;
	color: #aaa;
}
.newsfeed .message{
	border-top: #ccc solid 1px;
	margin-top: 10px;
	padding: 5px 0;
	font-size: 12pt;
}
.comments{
	list-style: none;
	padding: 0;
	margin: 0 -10px;
}
.comments li{
	border-top: #ccc solid 1px;
	padding: 10px;
}
.comments .thumbnail{
	margin: 0 10px;
}
.avatar{
	width: 60px;
}
.commentform{
	background: #eee;
	margin-bottom: -5px;
}