<div class="cover">
	<div class="cover-in">
		<div class="pull-right toolbar">
			<div class="btn-group" uib-dropdown>
				<a class="btn btn-default" uib-dropdown-toggle="">Going <span class="caret"></span></a>
				<ul class="uib-dropdown-menu" role="menu">
					<li><a href="#">Going</a></li>
					<li><a href="#">Maybe</a></li>
					<li><a href="#">Decline</a></li>
				</ul>
			</div>
		</div>
		<h3>{{event.name}}</h3>
		<div class="eventdate"><i class="glyphicon glyphicon-time"></i> {{event.start_date}} - {{event.end_date}} </div>
	</div>
</div>
<div class="row event">
	<div class="col-md-9">
		Event news feed
	</div>
	<div class="col-md-3">
		<p style="margin-top: 10px;">
			<i class="glyphicon glyphicon-time"></i> {{event.start_date}} - {{event.end_date}}
		</p>
		<p>{{event.description}}</p>
		<h4>Created by</h4>
		<a href="#" ui-sref="root.user.timeline({user: admin.user.id})" class="thumbnail" style="width: 40px; background: url('{{member.imgUrl}}'); height: 40px; background-size: cover;"></a>
		<h4>Attending</h4>
		<ul class="list-inline memberlist">
			<li ng-repeat="member in attendants">
				<a href="#" ui-sref="root.user.timeline({user: member.user.id})" class="thumbnail" style="width: 40px; background: url('{{member.imgUrl}}'); height: 40px; background-size: cover;"></a>
			</li>
			<li>
				<div class="thumbnail text-center plusmore">{{attendants_count}}</div>
			</li>
		</ul>
		<a href="" class="btn btn-default" ng-click="invite()">Invite</a>
		<h4>Maybe</h4>
		<ul class="list-inline memberlist">
			<li ng-repeat="member in maybe">
				<a href="#" ui-sref="root.user.timeline({user: member.user.id})" class="thumbnail" style="width: 40px; background: url('{{member.imgUrl}}'); height: 40px; background-size: cover;"></a>
			</li>
			<li>
				<div class="thumbnail text-center plusmore">{{maybe_count}}</div>
			</li>
		</ul>
		<div class="metadata"><strong>{{decline_count}}</strong> declined</div>
	</div>
</div>