<div class="cover eventcover">
	<div class="cover-in">
		<div class="pull-right toolbar">
			<a class="btn btn-default active" ng-show="role==1">Going</a>
			<div class="btn-group" ng-show="role>1" uib-dropdown>
				<a class="btn btn-default" uib-dropdown-toggle=""><span ng-bind="roletext">Going</span> <span class="caret"></span></a>

				<ul class="uib-dropdown-menu" role="menu">
					<li><a href="" ng-click="going()">Going</a></li>
					<li><a href="" ng-click="maybef()">Maybe</a></li>
					<li><a href="" ng-click="decline()">Decline</a></li>
				</ul>
			</div>
			<div ng-show="role==0">
				<a class="btn btn-default" ng-click="going()">Going</a>
				<a class="btn btn-default" ng-click="maybef()">Maybe</a>
			</div>
		</div>
		<h3>{{event.name}}</h3>
		<div class="eventdate"><i class="glyphicon glyphicon-time"></i> {{event.start_date}} - {{event.end_date}} </div>
	</div>
</div>
<div class="row event">
	<div class="col-md-9">
		<div ng-include="'templates/eventfeed.html'"></div>
	</div>
	<div class="col-md-3">
		<p style="margin-top: 10px;">
			<i class="glyphicon glyphicon-time"></i> {{event.start_date}} - {{event.end_date}}
			<a href="" class="btn btn-link btn-sm" ng-if="admin.user.id == user.id" ng-click="changeTime()">Change</a>
		</p>
		<p>{{event.description}}</p>
		<h4>Created by</h4>
		<a href="#" ui-sref="root.user.timeline({user: admin.user.id})" class="thumbnail" style="width: 40px; background: url('{{member.imgUrl}}'); height: 40px; background-size: cover;"></a>
		<h4>Attending</h4>
		<ul class="list-inline memberlist">
			<li ng-repeat="member in attendants">
				<a href="" ui-sref="root.user.timeline({user: member.user.id})" class="thumbnail" style="width: 40px; background: url('{{member.imgUrl}}'); height: 40px; background-size: cover;"></a>
			</li>
			<li>
				<div class="thumbnail text-center plusmore">{{attendants_count}}</div>
			</li>
		</ul>
		<a href="" class="btn btn-default" ng-click="invite()">Invite</a>
		<h4>Maybe</h4>
		<ul class="list-inline memberlist">
			<li ng-repeat="member in maybe">
				<a href="" ui-sref="root.user.timeline({user: member.user.id})" class="thumbnail" style="width: 40px; background: url('{{member.imgUrl}}'); height: 40px; background-size: cover;"></a>
			</li>
			<li>
				<div class="thumbnail text-center plusmore">{{maybe_count}}</div>
			</li>
		</ul>
		<div class="metadata"><strong>{{decline_count}}</strong> declined</div>
	</div>
</div>
