<div class="lfg event">
	<header>
		<h1>Upcoming events</h1>
	</header>
	<section>
		<h2>Featured events</h2>

		<div class="largegroup" ui-sref="root.event({event: first_event.id})">
			<div class="image col-sm-3" style="background: #ccc"></div>
			<div class="col-sm-9 description">
				<h3 class="title">{{first_event.name}}</h3>
				<div class="date"><i class="glyphicon glyphicon-time"></i>{{first_event.start_date}}</div>
				<div class="message">
					<p>{{first_event.description}}</p>
				</div>
				<div class="metadata">
					<strong>{{first_event.member_count}}</strong> people are coming
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-md-4" ng-repeat="data in events">
				<div class="groupblock" ui-sref="root.event({event: data.id})">
					<div class="image" style="background: #ccc"></div>
					<div class="description">
						<h4 class="title">{{data.name}}</h4>
						<div class="date"><i class="glyphicon glyphicon-time"></i>{{data.start_date}}</div>
						<div class="message">
							<p>{{data.description}}</p>
						</div>
						<div class="metadata">
							<strong>{{data.member_count}}</strong> people are coming
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
