<h4>Welcome to Youniversity</h4>
Please let us know more about yourself

<form action="">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" required>
	</div>
	<div class="form-group">
		<label for="fac">Faculty and University</label>
		<input type="text" class="form-control" id="fac">
	</div>
	<div class="form-group">
		<label for="birthday">Birthday</label>
		<input type="date" class="form-control" id="birthday">
	</div>
	<div class="form-group">
		<label for="hometown">Hometown</label>
		<input type="text" class="form-control" id="hometown">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success">Save</button>
	</div>
</form>