<h4>Welcome to Youniversity</h4>
Please let us know more about yourself

<form ng-submit="saveInfo()">
	<div class="form-group">
		<label for="name">First Name</label>
		<input type="text" class="form-control" id="name" required ng-model = "userprofile.firstname">
	</div>
	<div class="form-group">
		<label for="name">Last Name</label>
		<input type="text" class="form-control" id="name" required ng-model = "userprofile.lastname">
	</div>
	<div class="form-group">
		<label for="faculty">Major</label>
		<input type="text" class="form-control" id="fac" required ng-model = "userprofile.major">
	</div>
	<div class="form-group">
		<label for="hometown">City</label>
		<input type="text" class="form-control" id="hometown" required ng-model = "userprofile.city">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success">Save</button>
	</div>
</form>
