<h4>Welcome to Youniversity</h4>
Please let us know more about yourself

<form ng-submit="saveInfo()">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" required ng-model = "userprofile.user">
	</div>
	<div class="form-group">
		<label for="faculty">Faculty and University</label>
		<input type="text" class="form-control" id="fac" required ng-model = "userprofile.faculty">
	</div>
	<div class="form-group">
		<label for="hometown">Country</label>
		<input type="text" class="form-control" id="hometown" required ng-model = "userprofile.country">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success">Save</button>
	</div>
</form>