<div class="lfg lfgsection">
	<header>
		<h1>Sports</h1>
	</header>

	<div class="largegroup" ui-sref="root.group.info({id: 1})">
		<div class="image col-sm-3" style="background: #ccc"></div>
		<div class="col-sm-9 description">
			<h3 class="title">Group name goes here</h3>
			<div class="message">
				<p>We're a group of people who want to demonstrate how this template works.</p>
			</div>
			<div class="metadata">
				<strong>2</strong> members &middot; Founded <strong>Jan 1, 1970</strong>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4" ng-repeat="x in [1,2,3,4,5,6,7,8,9]">
			<div class="groupblock" ui-sref="root.group.info({id: x})">
				<div class="image" style="background: #ccc"></div>
				<div class="description">
					<h4 class="title">Group name goes here</h4>
					<div class="message">
						<p>We're a group of people who want to demonstrate how this template works.</p>
					</div>
					<div class="metadata">
						<strong>2</strong> members &middot; Founded <strong>Jan 1, 1970</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>