<tabset justified="true" type="pills" class="groupmanage">
	<tab heading="Members" class="members">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info" ng-repeat="user in groupMember_pending">
						<td><a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a></td>
						<td><a href="#">{{user.user.username}}</a></td>
						<td>Request to join</td>
						<td>
							<button ng-click="acceptMember(user.user.id)" class="btn btn-sm btn-primary" >Accept</button>
							<button ng-click="denyMember(user.user.id)" class="btn btn-sm btn-danger">Deny</button>
						</td>
					</tr>
					<tr ng-repeat="user in groupMember">
						<td><a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a></td>
						<td><a href="#">{{user.user.username}}</a></td>
						<td>Member</td>
						<td>
							<button ng-click="denyMember(user.user.id)" class="btn btn-sm btn-danger">Kick</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</tab>
	<tab heading="Description &amp; Settings" class="settings">
		<form action="">
			<div class="form-group">
				<h4>What's this group about</h4>
				<textarea class="form-control" rows="3">We're a group of people who want to demonstrate how this template works.</textarea>
			</div>

			<div class="form-group">
				<h4>Requirement to join</h4>
				<div class="form-group">
					<label class="radio-inline"><input type="radio" name="join" value="0" checked> Open</label>
					<label class="radio-inline"><input type="radio" name="join" value="1"> Closed</label>
					<label class="radio-inline"><input type="radio" name="join" value="2"> Secret</label>
				</div>
				<textarea class="form-control" rows="6">The group owner also able to add some messages here</textarea>
			</div>

			<div class="form-group">
				<h4>Your activities?</h4>
				<textarea class="form-control" rows="10">Here we are going to say something about our recent activities so people want to join us. Or for hangout group we might as well omit this section.
				
Also, we should be able to put some images and rich text format in this section</textarea>
			</div>

			<div class="form-group">
				<h4>Directory</h4>
				<div class="form-group">
					<label class="checkbox-inline"><input type="checkbox" ng-model="directory" name="directory" value="1"> List this group in the <a ui-sref="root.lfg()">directory</a></label>
				</div>
				<div class="well" ng-if="directory">
					<strong>Category</strong>
					<div class="row">
						<div class="col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="academic"> Academic</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="acting"> Acting</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="art"> Art</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="band"> Band</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="film"> Film</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="gaming"> Gaming</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="social"> Socializing</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="si"> Special interest</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="sports"> Sports</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="technology"> Technology</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="volunteer"> Volunteering</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="writing"> Writing &amp; Journalism</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<input type="submit" class="btn btn-primary" value="Save">
		</form>

	</tab>
</tabset>