<div class="row">
	<div class="col-sm-2 subgroupmenu">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#" ui-sref="root.group.createsubgroup()"><i class="glyphicon glyphicon-plus"></i> Create subgroup</a></li>
			<li ui-sref-active="active"><a href="#" ui-sref="root.group.feed({sub : null})">{{group.name}}</a></li>
			<li ui-sref-active="active" ng-repeat="subgroup in subgroups" ui-sref="root.group.feed({sub : subgroup.id})"><a href="#">{{subgroup.name}}</a></li>
		</ul>
	</div>
	<div class="col-sm-10">
		<form class="nfpost well" ng-show="allowPost">
			<textarea rows="4" ng-model="nftext" class="form-control" placeholder="What's on your mind?" autofocus></textarea>
			<div class="checkbox" ng-if="group.gtype == 1">
				<label><input type="checkbox" ng-model="$parent.pin"> Pin this post</label>
			</div>
			<div class="checkbox" ng-if="group.gtype == 1">
				<label><input type="checkbox" ng-model="$parent.allowSubmission"> Allow homework file upload</label>
			</div>
			<input type="submit" ng-click="postStatus()" class="btn btn-primary pull-right" value="Share">
			<div class="clearfix"></div>
		</form>
		<div class="newsfeed">
			<div class="post nga-default nga-stagger nga-fade" ng-repeat="data in newsfeed track by data.id" ng-class="{pinned: data.pinned}">
				<div class="user row">
					<div class="col-xs-1 avatar">
						<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
					</div>
					<div class="col-xs-11">
						<a href="#" ui-sref="root.user.timeline({user: data.user.id})">{{data.user.first_name}} {{data.user.last_name}}</a>
						<div class="metadata"><a href="#" ui-sref="root.group.post({postid: data.id})"><span am-time-ago="data.datetime"></span></a><span ng-if="data.pinned"> &middot; <a href="" ng-click="unpin(data)" ng-init="text='Pinned'" ng-mouseover="text='Unpin'" ng-mouseout="text='Pinned'" ng-bind="text">Pinned</a></span></div>
					</div>
				</div>
				<div class="message">
					{{data.text}}
				</div>
				<ul class="row comments" ng-controller="GroupCommentController">
					<li class="nga-default nga-stagger nga-fade" ng-repeat="comment in comments track by comment.id">
						<div class="row">
							<div class="col-xs-1 avatar">
								<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
							</div>
							<div class="col-xs-11">
								<a href="#" ui-sref="root.user.timeline({user: comment.user.id})">{{comment.user.first_name}} {{comment.user.last_name}}</a>
								<span ng-if="!(comment.text == '_magic_fileupload' && data.allow_submission)">
									{{comment.text}}
								</span>
								<span class="metadata" am-time-ago="comment.datetime"></span>
								<div ng-if="comment.file && group.member_status == 2"><a href="{{comment.file}}" target="_blank"><i class="glyphicon glyphicon-file"></i> Submission</a></div>
								<div ng-if="comment.file && group.member_status != 2"><i class="glyphicon glyphicon-file"></i> Submission <span class="metadata">(only group admin can access)</span></div>
							</div>
						</div>
					</li>
					<li class="commentform">
						<div class="row">
							<div class="col-xs-1 avatar">
								<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
							</div>
							<form class="col-xs-11" enctype="multipart/form-data" ng-if="data.allow_submission" ng-submit="commentPost(data)">
								<div class="col-md-4">
									Submission <em>(optional)</em>:
									<input type="file" class="form-control" ng-model="$parent.file" ngf-select>
								</div>
								<div class="col-md-8">
									Remarks:
									<input type="text" ng-model="$parent.comment" class="form-control" placeholder="Enter comment">
								</div>
								<div class="col-md-12">
									<input type="submit" class="btn btn-primary" value="Submit" style="margin-top: 10px;">
								</div>
							</form>
							<form class="col-xs-11" ng-if="!data.allow_submission">
								<input type="text" ng-model="$parent.comment" my-enter="commentPost(data)" class="form-control" placeholder="Enter comment">
								<input type="submit" class="btn btn-primary hide" value="Submit">
							</form>
						</div>
					</li>
				</ul>
			</div>
			<div name="more" ng-show="allowPost">
				<a href="" ng-if="hasMoreStory == true" ng-click="loadMoreStory()">
					<div class="post">
						<h4 style="text-align:center">Load more stories</h4>
					</div>
				</a>
				<div class="post" ng-if="hasMoreStory == false">
					<h4 style="text-align:center">No more story to show</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<a href=""class="lead btn newstory nga-default nga-stagger nga-fade" ng-show="newstory"><span class="glyphicon glyphicon-menu-up"></span> New Stories</a>
