<div class="row">
	<div class="col-sm-2 subgroupmenu">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#" ui-sref="root.group.createsubgroup()"><i class="glyphicon glyphicon-plus"></i> Create subgroup</a></li>
			<li ui-sref-active="active"><a href="#" ui-sref="root.group.feed()">{{group.name}}</a></li>
			<li><a href="#">Subgroup 1</a></li>
			<li><a href="#">Subgroup 2</a></li>
		</ul>
	</div>
	<div class="col-sm-10">
		<form class="nfpost well" ng-show="allowPost">
			<textarea rows="4" ng-model="nftext" class="form-control" placeholder="What's on your mind?" autofocus></textarea>
			<input type="submit" ng-click="postStatus()" class="btn btn-primary pull-right" value="Share">
			<div class="clearfix"></div>
		</form>
		<div class="newsfeed">
			<div class="post" ng-repeat="data in newsfeed">
				<div class="user row">
					<div class="col-xs-1 avatar">
						<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
					</div>
					<div class="col-xs-11">
						<a href="#" ui-sref="root.user.timeline({user: data.user.id})">{{data.user.first_name}} {{data.user.last_name}}</a>
						<div class="metadata"><a href="#" ui-sref="root.group.post({postid: data.id})"><span am-time-ago="data.datetime"></span></a> &middot; Public</div>
					</div>
				</div>
				<div class="message">
					{{data.text}}
				</div>
				<div class="action">
					<div class="btn btn-link">Like</div>
					<div class="btn btn-link">Comment</div>
				</div>
				<ul class="row comments" ng-controller="GroupCommentController">
					<li ng-repeat="comment in comments">
						<div class="row">
							<div class="col-xs-1 avatar">
								<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
							</div>
							<div class="col-xs-11">
								<a href="#" ui-sref="root.user.timeline({user: data.user.id})">{{data.user.username}}</a>
								<div class="metadata"><a href="#" ui-sref="root.group.post({postid: data.id})"><span am-time-ago="data.datetime"></span></a> &middot; Public</div>
							</div>
						</div>
						<div class="message">
							{{data.text}}
						</div>
						<ul class="row comments" ng-controller="GroupCommentController">
							<li ng-repeat="comment in comments">
								<div class="row">
									<div class="col-xs-1 avatar">
										<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
									</div>
									<div class="col-xs-11">
										<a href="#" ui-sref="root.user.timeline({user: comment.user.id})">{{comment.user.username}}</a>
										{{comment.text}}
										<span class="metadata" am-time-ago="comment.datetime"></span>
									</div>
								</div>
							</li>
							<li class="commentform">
								<div class="row">
									<div class="col-xs-1 avatar">
										<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
									</div>
									<form class="col-xs-11">
										<input type="text" ng-model="comment" my-enter="commentPost(data)" class="form-control" placeholder="Enter comment">
										<input type="submit" class="btn btn-primary hide" value="Submit">
									</form>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>