<div class="row groupinfo">
	<div class="col-md-9">
		<h4>What's this group about?</h4>
		<div class="message">
			<p>{{group.description}}</p>
		</div>

		<h4>Requirement to join</h4>
		<div class="message">
			<p class="metadata">

				<div ng-if="group.type == 0">
					<i class="glyphicon glyphicon-info-sign"></i>
   					This is a <strong>open</strong> group. Everyone can requests to join.
				</div>
				<div ng-if="group.type == 1">
					<i class="glyphicon glyphicon-info-sign"></i>
   					This is a <strong>closed</strong> group. Everyone can requests to join.
				</div>
				<div ng-if="group.type == 2">
					<i class="glyphicon glyphicon-info-sign"></i>
   					This is a <strong>secret</strong> group. Member must be invited to join.
				</div>


			</p>
			<p>{{group.short_description}}</p>
		</div>

		<h4>Your activities?</h4>
		<div class="message">
			<p>{{group.activities}}</p>
		</div>
	</div>
	<div class="col-md-3">
		<h4>Members</h4>
		<ul class="list-inline memberlist">
			<li ng-repeat="member in memberList">
				<a ng-href="{{member.userUrl}}" class="thumbnail" style="width: 40px; background: url('{{member.imgUrl}}'); height: 40px; background-size: cover;">{{member.user.username}}</a>
			</li>
			<li>
				<div class="thumbnail text-center plusmore">+50</div>
			</li>
		</ul>
	</div>
</div>
