<div class="lfg">
	<header>
		<h1>Find interest groups to join</h1>
	</header>
	<section>
		<h2>Featured group</h2>

		<div class="largegroup" ui-sref="root.group.info({id: allGroups[0].id})">
			<div class="image col-sm-3" style="background: url({{allGroups[0].cover}}) #ccc center center no-repeat; background-size: contain;"></div>
			<div class="col-sm-9 description">
				<h3 class="title">{{allGroups[0].name}}</h3>
				<div class="message">
					<p>{{allGroups[0].description}}</p>
				</div>
				<div class="metadata">
					<strong>{{allGroups[0].member_count}}</strong> members &middot; Founded <strong>{{allGroups[0].date}}</strong>
				</div>
			</div>
		</div>
	</section>
	<section class="categories">
		<h2>Explore by section</h2>
		<div class="row">
			<div class="col-sm-4" ng-repeat="category in allCategory">
				<a ui-sref="root.lfgcat({cat: category.name})" class="btn btn-default">{{category.name}}</a>
			</div>
		</div>
	</section>
</div>
