<tabset justified="true" type="pills" class="groupmanage">
	<tab heading="Members" class="members">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info" ng-repeat="user in groupMember_pending">
						<td><a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a></td>
						<td><a href="#">{{user.user.first_name}} {{user.user.last_name}}</a></td>
						<td>Request to join</td>
						<td>
							<button ng-click="acceptMember(user.user.id)" class="btn btn-sm btn-primary" >Accept</button>
							<button ng-click="denyMember(user.user.id)" class="btn btn-sm btn-danger">Deny</button>
						</td>
					</tr>
					<tr ng-repeat="user in groupMember">
						<td><a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a></td>
						<td><a href="#">{{user.user.first_name}} {{user.user.last_name}}</a></td>
						<td>
							<select ng-model="user.role" ng-options="role.id as role.name for role in [{id:1, name: 'Member'}, {id: 2, name: 'Admin'}]" class="form-control"></select>
						</td>
						<td>
							<button class="btn btn-primary">Update</button>
							<button ng-click="denyMember(user.user.id)" class="btn btn-sm btn-danger">Kick</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</tab>
	<tab heading="Subgroup" class="subgroups">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="subgroup in subgroups">
						<td>{{subgroup.name}}</td>
						<td>
							<button ng-click="deleteSubgroup(subgroup.id)" class="btn btn-sm btn-danger">Remove</button>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a href="#" ui-sref="root.group.createsubgroup()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Create subgroup</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</tab>
	<tab heading="Description &amp; Settings" class="settings">
			<div class="form-group">
				<h4>Cover image</h4>
				<input type="file" accept="image" id = "cover" name="cover" class="form-control" onchange="angular.element(this).scope().uploadCover(this.files)" ngf-select>
				<div class="help-block">
					945x200 pixels
				</div>
			</div>

		<form action="" enctype="multipart/form-data">
			<div class="form-group">
				<h4>What's this group about</h4>
				<textarea ng-model = "group.description" class="form-control" rows="3"></textarea>
			</div>

			<div class="form-group">
				<h4>Requirement to join</h4>
				<div class="form-group">
					<label class="radio-inline"><input type="radio" ng-model = "group.type" name="join" value="0" checked> Open</label>
					<label class="radio-inline"><input type="radio" ng-model = "group.type" name="join" value="1"> Closed</label>
					<label class="radio-inline"><input type="radio" ng-model = "group.type" name="join" value="2"> Secret</label>
				</div>
				<textarea ng-model = "group.short_description" class="form-control" rows="6"></textarea>
			</div>

			<div class="form-group">
				<h4>Your activities?</h4>
				<textarea ng-model = "group.activities" class="form-control" rows="10"></textarea>
			</div>

			<div class="form-group">
				<h4>Directory</h4>
				<div class="form-group">
					<label class="checkbox-inline"><input type="checkbox" ng-model="directory" name="directory" value="1"> List this group in the <a ui-sref="root.lfg()">directory</a></label>
				</div>
				<div class="well" ng-if="directory">
					<strong>Category</strong>
					<div class="row">
						<div class="col-sm-3">
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="1"> Academic</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="2"> Acting</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="3"> Art</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="4"> Band</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="5"> Film</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="6"> Gaming</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="7"> Socializing</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="8"> Special interest</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="radio">
								<label class="radio-inline"><input type="radio"  ng-model = "group.category" value="9"> Sports</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="10"> Technology</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="11"> Volunteering</label>
							</div>
							<div class="radio">
								<label class="radio-inline"><input type="radio" ng-model = "group.category" value="12"> Writing &amp; Journalism</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<button ng-click="editInfo()" type="submit" class="btn btn-primary" >Save</button>
		</form>

	</tab>
</tabset>
