<div class="lfg lfgsection">
	<header>
		<h1>{{category}}</h1>
	</header>

	<div class="largegroup" ui-sref="root.group.info({id: data.id})">
		<div class="image col-sm-3" style="background: #ccc"></div>
		<div class="col-sm-9 description">
			<h3 class="title">{{groups.name}}</h3>
			<div class="message">
				<p>{{groups.description}}</p>
			</div>
			<div class="metadata">
				<strong>2</strong> members &middot; Founded <strong>Jan 1, 1970</strong>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4" ng-repeat="data in groups">
			<div class="groupblock" ui-sref="root.group.info({id: data.id})">
				<div class="image" style="background: #ccc"></div>
				<div class="description">
					<h4 class="title">{{data.name}}</h4>
					<div class="message">
						<p>{{data.description}}</p>
					</div>
					<div class="metadata">
						<strong>{{data.member_count}}</strong> members &middot; Founded <strong>{{data.date}}</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>