<div class="login">
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<h1 class="logo">Youniversity</h1>
			<div class="well">
				<div class="picker" ng-hide="kulogin">
					<h4>Please login</h4>
					<a class="btn btn-primary" ng-click="kulogin=true">KU Login</a>
					<a class="btn btn-primary" href="{{app_base}}accounts/facebook/login">Facebook Login</a>
				</div>
				<form ng-show="kulogin" ng-submit="login()">
					<h4>KU Login</h4>
					<div class="alert alert-danger" ng-bind="error" ng-if="error"></div>
					<div class="alert alert-info" ng-if="loggingIn">Working...</div>
					<div ng-hide="loggingIn">
						<div class="form-group">
							<label for="student_id">Student ID</label>
							<input type="text" class="form-control" id="student_id" placeholder="b56xxxxxxxx" pattern="b[45][0-9]{9}" required ng-model="auth.username">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" required ng-model="auth.password">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
						<a class="btn btn-default" ng-click="kulogin=false">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>