<div class="header">
	Notifications
</div>
<div class="body">

	<!--
		ADMIN NOTI!
	-->
	<div class="row item-outer" ui-sref="root" ng-repeat-start="data in notifications" ng-if="data.target_type == -1" ng-click="readNotification(data)">
		<div class="item" ng-class="{'new':!data.read}">
			<div class="col-xs-2">
				<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
			</div>
			<div class="col-xs-10">
				{{data.text}}
				<div class="metadata"><span am-time-ago="data.datetime"></span></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<!--
		WALL!
	-->
	<div class="row item-outer" ui-sref="root.nfpost({id: data.link_item.id})" ng-if="data.target_type == 4 && data.target_id == null" ng-click="readNotification(data)">
		<div class="item" ng-class="{'new':!data.read}">
			<div class="col-xs-2">
				<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
			</div>
			<div class="col-xs-10">
				<strong>{{data.user.username}}</strong> posted a status "{{data.text}}"
				<div class="metadata"><span am-time-ago="data.datetime"></span></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<!--
		COMMENT!
	-->
	<div class="row item-outer" ui-sref="root.nfpost({id: data.target_id})" ng-if="data.target_type == 4 && data.target_id != null" ng-click="readNotification(data)">
		<div class="item" ng-class="{'new':!data.read}">
			<div class="col-xs-2">
				<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
			</div>
			<div class="col-xs-10">
				<strong>{{data.user.username}}</strong> commented "{{data.text}}"
				<span ng-if="data.reference_detail.type == 'group'">
					in <strong>{{data.reference_detail.group_name}}</strong>
				</span>
				<div class="metadata"><span am-time-ago="data.datetime"></span></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>


	<!--
		EVENT!
	-->
	<div class="row item-outer" ui-sref="root" ng-if="data.target_type == 'event' " ng-click="readNotification(data)">
		<div class="item" ng-class="{'new':!data.read}">
			<div class="col-xs-2">
				<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
			</div>
			<div class="col-xs-10">
				<strong>{{data.user.username}}</strong> posted in <strong>Test event</strong> "{{data.text}}"
				<div class="metadata"><span am-time-ago="data.datetime"></span></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<!--
		Group!
	-->
	<div class="row item-outer" ui-sref="root.group.post({id: data.target_id, postid: data.link_item.id})" ng-repeat-end ng-if="data.target_type == 16 && data.link_type.model == 'post' " ng-click="readNotification(data)">
		<div class="item" ng-class="{'new':!data.read}">
			<div class="col-xs-2">
				<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
			</div>
			<div class="col-xs-10">
				<strong>{{data.user.username}}</strong> posted in <strong>{{data.reference_detail.group_name}}</strong> "{{data.text}}"
				<div class="metadata"><span am-time-ago="data.datetime"></span></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
