<div class="header">
	Notifications
</div>
<div class="body">
	<div class="row item-outer" ui-sref="root" ng-repeat-start="x in [1,2,3,4,5,6,7,8]" ng-if="x==1">
		<div class="item">
			<div class="col-xs-2">
				<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
			</div>
			<div class="col-xs-10">
				Item type 1
				<div class="metadata">11 hours ago</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="row item-outer" ui-sref="root" ng-if="x == 2">
		<div class="item">
			<div class="col-xs-2">
				<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
			</div>
			<div class="col-xs-10">
				<strong>Somchai</strong> posted in <strong>Test event</strong> "Item type 2"
				<div class="metadata">11 hours ago</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="row item-outer" ui-sref="root" ng-repeat-end ng-if="x != 1 && x != 2">
		<div class="item">
			<div class="col-xs-2">
				<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
			</div>
			<div class="col-xs-10">
				<strong>Somchai</strong> posted in <strong>Test group</strong> "Item type {{x}}"
				<div class="metadata">11 hours ago</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>