<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="root">Youniversity</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navcollapse">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search Youniversity" id="search">
				</div>
				<button type="submit" class="btn btn-default hide">Search</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" class="notification"><i class="glyphicon glyphicon-user"></i> <span class="count">1</span></a></li>
				<li><a href="#" class="notification"><i class="glyphicon glyphicon-globe"></i> <span class="count">5</span></a></li>
				<li dropdown>
					<a href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret" dropdown-toggle></span></a>
					<ul class="dropdown-menu">
						<!-- <li role="separator" class="divider"></li> -->
						<li><a href="#">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div ui-view></div>