<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="root.newsfeed">Youniversity</a>
		</div>

		<div class="collapse navbar-collapse" id="navcollapse">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search Youniversity" id="search">
				</div>
				<button type="submit" class="btn btn-default hide">Search</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" class="notification"><i class="glyphicon glyphicon-user"></i> <span class="count">1</span></a></li>
				<li><a href="#" class="notification"><i class="glyphicon glyphicon-globe"></i> <span class="count">5</span></a></li>
				<li dropdown>
					<a href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret" dropdown-toggle></span></a>
					<ul class="dropdown-menu">
						<!-- <li role="separator" class="divider"></li> -->
						<li><a href="#">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div ui-view="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-push-2" ui-view></div>
			<div class="col-md-2 col-md-pull-10 sidebar" ui-view="sidebar">
				<div class="user row">
					<a href="#" class="thumbnail" style="width: 50px; background: red; height: 50px;"></a>
					<a href="#">{{user}}</a>
				</div>
				<ul>
					<li><a ui-sref="root.newsfeed">News feed</a></li>
				</ul>
				<hr>
				<h4>Groups</h4>
				<ul>
					<li><a href="#">Find group</a></li>
					<li><a href="#" ui-sref="root.group.info({id: 1})">Group 1</a></li>
					<li><a href="#">Group 2</a></li>
					<li><a href="#">Group 3</a></li>
				</ul>
				<hr>
				<h4>Events</h4>
				<ul>
					<li><a href="#">Find event</a></li>
					<li><a href="#">Event 1</a></li>
					<li><a href="#">Event 2</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>