<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="root.newsfeed">Youniversity</a>
		</div>

		<div class="collapse navbar-collapse" id="navcollapse">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group" ng-controller="SearchController">
					<input type="text" class="form-control" placeholder="Search Youniversity" id="search" ng-model="searchQuery" uib-typeahead="item.id for item in search($viewValue)" autocomplete="off" typeahead-template-url="templates/searchresult.html" typeahead-on-select="goto($item, $model, $label)" typeahead-loading="loadingSearch">
					<i ng-show="loadingSearch" class="glyphicon glyphicon-refresh"></i>
				</div>
				<button type="submit" class="btn btn-default hide">Search</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li data-allow-friend="true"><a href="" class="notification" ng-click="showFriends=!showFriends"><i class="glyphicon glyphicon-user"></i> <span class="count" ng-show="pendingFriends.length > 0">{{pendingFriends.length}}</span></a></li>
				<li data-allow-notification="true"><a href="" class="notification" ng-click="showNotification=!showNotification"><i class="glyphicon glyphicon-globe"></i> <span class="count" ng-bind="notificationCount" ng-if="notificationCount > 0"></span></a></li>
				<li>
					<a href="#" ui-sref="root.user.timeline({user: user.id})">{{user.first_name}} </a>
				</li>
				<li uib-dropdown>
					<a href uib-dropdown-toggle>
						<span class="caret" aria-haspopup="true" aria-expanded="false"></span>
					</a>
					<ul class="dropdown-menu">
						<!-- <li role="separator" class="divider"></li> -->
						<li><a href="#" ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="notibox" ng-include="'templates/notification.html'" ng-controller="NotificationController" ng-show="showNotification" data-allow-notification="true"></div>
<div class="notibox" ng-include="'templates/pendingfriends.html'" ng-controller="PendingFriendController" ng-show="showFriends" data-allow-friend="true"></div>
<div ui-view="main">
	<div class="container" id="rootcontainer">
		<div class="row">
			<div class="col-md-10 col-md-push-2" ui-view></div>
			<div class="col-md-2 col-md-pull-10 sidebar" ui-view="sidebar">
				<div class="user row" ui-sref="root.user.timeline({user: user.id})">
					<img src="{{user.picture}}" class="thumbnail" style="width: 50px; height: 50px;">
					<a href="#" >{{user.first_name}} {{user.last_name}}</a>
				</div>
				<ul>
					<li><a ui-sref="root.newsfeed" ui-sref-active="active">News feed</a></li>
				</ul>
				<hr>
				<h4>Groups</h4>
				<ul>
					<li><a href="#" ui-sref="root.lfg()" ui-sref-active="active"><i class="glyphicon glyphicon-list-alt"></i> Group directory</a></li>
					<li><a href="#" ui-sref="root.creategroup()" ui-sref-active="active"><i class="glyphicon glyphicon-plus"></i> Create group</a></li>
					<li ng-repeat="group in group_list"><a href="#" ui-sref="root.group({id: group.id})" ui-sref-active="active">{{group.name}}</a></li>
				</ul>
				<hr>
				<h4>Events</h4>
				<ul>
					<li><a href="#" ui-sref="root.eventbrowse()" ui-sref-active="active"><i class="glyphicon glyphicon-list-alt"></i> Event directory</a></li>
					<li><a href="#" ui-sref="root.eventcreate()" ui-sref-active="active"><i class="glyphicon glyphicon-plus"></i> Create event</a></li>
					<li ng-repeat="event in event_list"><a href="#" ui-sref="root.event({event: event.id})" ui-sref-active="active">{{event.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
