<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<a ng-show="allowEdit" href="#" ui-sref="root.user.edit()" class="btn btn-link pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
				<dl>
					<dt><i class="glyphicon glyphicon-education"></i> Studying at</dt>
					<dd>Kasetsart University, Faculty of {{userprofile.faculty}}, {{userprofile.major}}</dd>
					<dt><i class="glyphicon glyphicon-gift"></i> Birthday</dt>
					<dd>{{userprofile.birthday}}</dd>
					<dt>From</dt>
					<dd>{{userprofile.city}}, {{userprofile.country}}</dd>
				</dl>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title clickable" ui-sref="root.user.friends()">Friends</h3>
			  </div>
			<div class="panel-body">
				<ul class="list-inline memberlist">
					<li ng-repeat="member in members">
						<a href="#" ui-sref="root.user.timeline({user: member.user.id})" class="thumbnail" style="width: 40px; background: red; height: 40px; background-size: cover;"></a>
					</li>
					<li>
						<a href="#" class="thumbnail text-center plusmore" ui-sref="root.user.friends()">+{{moreFriendsCount}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-8 newsfeed">
		<div class="post" ng-repeat="data in userfeed">
			<div class="user row">
				<div class="col-xs-1 avatar">
					<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
				</div>
				<div class="col-xs-10">
					<a href="#" ui-sref="root.user.timeline({user: data.user.id})">{{data.user.first_name}} {{data.user.last_name}}</a>
					<div class="metadata"><a href="#" ui-sref="root.user.timelinepost({postid: data.id})" am-time-ago="data.datetime"></a> &middot; Public</div>
				</div>
			</div>
			<div class="message">
				{{data.text}}
			</div>
			<div class="action">
				<div class="btn btn-link">Like</div>
				<div class="btn btn-link">Comment</div>
			</div>
			<ul class="row comments" ng-controller="CommentController">
				<li ng-repeat="comment in comments">
					<div class="row">
						<div class="col-xs-1 avatar">
							<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
						</div>
						<div class="col-xs-10">
							<a href="#" ui-sref="root.user.timeline({user: comment.user.id})">{{comment.user.first_name}} {{comment.user.last_name}}</a>
							{{comment.text}}
							<span class="metadata" am-time-ago="comment.datetime"></span>
						</div>
					</div>
				</li>
				<li class="commentform">
					<div class="row">
						<div class="col-xs-1 avatar">
							<a href="#" class="thumbnail" style="width: 40px; background: red; height: 40px;"></a>
						</div>
						<form class="col-xs-10">
							<input type="text" ng-model="comment" my-enter="commentPost(data)" class="form-control" placeholder="Enter comment">
							<input type="submit" class="btn btn-primary hide" value="Submit">
						</form>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
