<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Edit profile</h3>
	</div>
	<div class="panel-body">
		<form action="" enctype="multipart/form-data" class="form form-horizontal" ng-submit="saveInfo()">
			<div class="form-group">
				<label for="firstname" class="col-sm-3 control-label">First Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="firstname" required ng-model = "userprofile.firstname">
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-3 control-label">Last Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="lastname" required ng-model = "userprofile.lastname">
				</div>
			</div>
			<div class="form-group">
				<label for="birthday" class="col-sm-3 control-label">Birthday</label>
				<div class="col-sm-9">
					<input type="date" class="form-control" id="birthday" ng-model = "userprofile.birthday">
				</div>
			</div>
			<div class="form-group">
				<label for="gender" class="col-sm-3 control-label">Gender</label>
				<div class="col-sm-9">
					<select class="form-control" name="gender" ng-model = "userprofile.gender">
						<option value selected>--------</option>
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="faculty" class="col-sm-3 control-label">Faculty</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="faculty" ng-model = "userprofile.faculty">
				</div>
			</div>
			<div class="form-group">
				<label for="major" class="col-sm-3 control-label">Major</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="major" ng-model = "userprofile.major">
				</div>
			</div>
			<div class="form-group">
				<label for="country" class="col-sm-3 control-label">Country</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="country" ng-model = "userprofile.country">
				</div>
			</div>
			<div class="form-group">
				<label for="city" class="col-sm-3 control-label">City</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="city" ng-model = "userprofile.city">
				</div>
			</div>
			<div class="form-group">
				<label for="hometown" class="col-sm-3 control-label">Profile picture</label>
				<div class="col-sm-9">
					<input type="file" accept="image" class="form-control">
					<div class="help-block">
						Should be in square aspect ratio (1:1)
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="hometown" class="col-sm-3 control-label">Cover image</label>
				<div class="col-sm-9">
					<input type="file" accept="image" class="form-control">
					<div class="help-block">
						945x200 pixels
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-success">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>