<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Friends ({{friendsCount}})</h3>
	</div>
	<div class="panel-body">
		<ul class="friendlist list-unstyled row">
			<li class="col-sm-6" ng-repeat="friend in friends">
				<div class="usergrid row clickable" ui-sref="root.user.timeline({user: friend.user.id})">
					<div class="col-xs-3 leftcol">
						<a href="#" style="display: block; width: 90px; background: red; height: 90px;"></a>
					</div>
					<div class="col-xs-9 rightcol">
						<div class="pull-right">
							<div ng-click="unFriend(friend.user.id)" class="btn btn-default">Remove</div>
						</div>
						<h4><a href="" ui-sref="root.user.timeline({user: friend.user.id})">{{friend.user.username}}</a></h4>
						{{friend.faculty}}, {{friends.major}}
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
