<div class="userpage">
	<div class="cover">
		<div class="cover-in">
			<div class="pull-right toolbar">
				<div class="btn btn-default">Add friend</div>
			</div>
			<a href="#" class="thumbnail avatar" style="background: red;"></a>
			<h3 class="clickable" ui-sref="root.user.timeline()">{{user}}</h3>
		</div>
	</div>
	<ul class="usertabs list-unstyled">
		<li ui-sref-active="active"><a href="#" ui-sref="root.user.timeline()">Feed</a></li>
		<li ui-sref-active="active"><a href="#" ui-sref="root.user.friends()">Friends <span class="metadata">5</span></a></li>
	</ul>
	<div ui-view></div>
</div>