<div class="userpage">
	<div class="cover">
		<div class="cover-in">
			<div class="pull-right toolbar" ng-if="userId != otherUserId ">
				<a ng-click="addFriend()" ng-if="isFriend == 0" class="btn btn-default">Add friend</a>
				<div ng-if="isFriend == 1" class="btn btn-default">Request pending</div>
				<div ng-click="acceptFriend()" ng-if="isFriend == 2" class="btn btn-default">Accept request</div>
				<div class="btn-group" uib-dropdown ng-if="isFriend == 3">
					<div class="btn btn-default" uib-dropdown-toggle>Friend <span class="caret"></span></div>
					<div class="uib-dropdown-menu">
						<li><a href="#" ng-click="unFriend()">Unfriend</a></li>
					</div>
				</div>
			</div>
			<div ng-if="userId == otherUserId" ui-sref="root.user.edit()" class="thumbnail avatar">
				<img src="{{user.picture}}" class="thumbnail">
			</div>
			<div ng-if="userId != otherUserId" class="thumbnail avatar" style="background-img: url({{data.user.profile.picture}}); background-size:cover;">
			</div>
			<h3 class="clickable" ui-sref="root.user.timeline()">{{userprofile.user.first_name}} {{userprofile.user.last_name}}</h3>
		</div>
	</div>
	<ul class="usertabs list-unstyled">
		<li ui-sref-active="active"><a href="#" ui-sref="root.user.timeline()">Feed</a></li>
		<li ui-sref-active="active"><a href="#" ui-sref="root.user.friends()">Friends <span class="metadata">{{friendsCount}}</span></a></li>
	</ul>
	<div ui-view></div>
</div>
